<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <form action="/api/phonebook" method="post">
        <label for="name">이름   </label>
        <input type="text" id="name" name="name" required><br>

        <label for="hp">전화번호</label>
        <input type="text" id="hp" name="hp" required><br>

        <label for="memo">메모  </label>
        <input type="text" id="memo" name="memo"><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>